/**
 * @file
 * W3CSS Paragraphs.
 *
 * Filename:     w3css-paragraphs-admin-claro.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
.w3css-tab-display > .details-wrapper {
  padding: 0 !important;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.w3css-tab-display > .details-wrapper > div {
  width: 100%;
  margin: 0;
}

.w3css-tab-display select,
.w3css-tab-display .form-text,
.w3css-tab-display .field--name-w3css-display-classes {
  clear: both;
  float: left;
  width: 100% !important;
}

.w3css-tabs-wrapper .horizontal-tabs-list {
  border-bottom-width: 10px;
}

.w3css-tabs-wrapper .w3css-tabs-wrapper .horizontal-tabs-list {
  border-bottom-width: 5px;
}

.w3css-tabs-wrapper .w3css-tabs-wrapper .w3css-tabs-wrapper .horizontal-tabs-list {
  border-bottom-width: 2px;
}

.w3css-tab-display .w3-container {
  padding: 0;
}

@media (min-width:993px) {
  .w3css-tab-display > .details-wrapper > div {
    width: calc(50% - 10px);
    margin: 0;
  }

  .w3css-tab-display > .details-wrapper > div:nth-child(even) {
    margin: 0;
  }

  .w3css-tab-display > .details-wrapper > div:nth-child(odd) {
    margin-right: 10px;
  }

}

.w3css-tab-display .field--widget-options-buttons .form-type--radio {
  position: relative;
  display: inline-block;
}

.w3css-tab-display .field--name-w3css-display-opacity .form-radios > div,
.w3css-tab-display .field--name-w3css-display-width .form-radios > div,
.w3css-tab-display .field--name-w3css-display-card .form-radios > div {
  border-right: 1px dotted #ccc;
  padding-right: 5px;
  margin-right: 5px;
}

.w3css-tab-display .field--name-w3css-display-opacity .form-radios > div:last-child,
.w3css-tab-display .field--name-w3css-display-width .form-radios > div:last-child,
.w3css-tab-display .field--name-w3css-display-card .form-radios > div:last-child {
  border-right: none;
}

.w3css-tab-display .field--name-w3css-display-opacity .form-radios,
.w3css-tab-display .field--name-w3css-display-width .form-radios,
.w3css-tab-display .field--name-w3css-display-card .form-radios,
.w3css-tab-display .field--name-w3css-display-active-item .form-radios,
.w3css-tab-display .field--name-w3css-display-hover-border .form-radios,
.w3css-tab-display .field--name-w3css-display-border-color .form-radios,
.w3css-tab-display .field--name-w3css-display-hover-text .form-radios,
.w3css-tab-display .field--name-w3css-display-text-color .form-radios,
.w3css-tab-display .field--name-w3css-display-hover-bg .form-radios,
.w3css-tab-display .field--name-w3css-display-bg-color .form-radios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.w3css-tab-display .field--name-w3css-display-active-item .form-type--radio,
.w3css-tab-display .field--name-w3css-display-hover-border .form-type--radio,
.w3css-tab-display .field--name-w3css-display-border-color .form-type--radio,
.w3css-tab-display .field--name-w3css-display-hover-text .form-type--radio,
.w3css-tab-display .field--name-w3css-display-text-color .form-type--radio,
.w3css-tab-display .field--name-w3css-display-hover-bg .form-type--radio,
.w3css-tab-display .field--name-w3css-display-bg-color .form-type--radio {
  margin: 1px !important;
  padding: 2px 10px !important;
  border-radius: 10px 0 10px 0;
}

.w3css-tab-display .field--name-w3css-display-active-item .form-type--radio label,
.w3css-tab-display .field--name-w3css-display-hover-border .form-type--radio label,
.w3css-tab-display .field--name-w3css-display-border-color .form-type--radio label,
.w3css-tab-display .field--name-w3css-display-hover-text .form-type--radio label,
.w3css-tab-display .field--name-w3css-display-text-color .form-type--radio label,
.w3css-tab-display .field--name-w3css-display-hover-bg .form-type--radio label,
.w3css-tab-display .field--name-w3css-display-bg-color .form-type--radio label {
  visibility: hidden;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 150px;
  bottom: 100%;
  left: 50%;
  margin-left: -75px !important;
  position: absolute;
  z-index: 1;
}

.w3css-tab-display .field--name-w3css-display-active-item .form-type--radio:hover label,
.w3css-tab-display .field--name-w3css-display-hover-border .form-type--radio:hover label,
.w3css-tab-display .field--name-w3css-display-border-color .form-type--radio:hover label,
.w3css-tab-display .field--name-w3css-display-hover-text .form-type--radio:hover label,
.w3css-tab-display .field--name-w3css-display-text-color .form-type--radio:hover label,
.w3css-tab-display .field--name-w3css-display-hover-bg .form-type--radio:hover label,
.w3css-tab-display .field--name-w3css-display-bg-color .form-type--radio:hover label {
  visibility: visible;
}

.w3css-tab-display .field--name-w3css-display-active-item .form-type--radio:hover label::after,
.w3css-tab-display .field--name-w3css-display-hover-border .form-type--radio:hover label::after,
.w3css-tab-display .field--name-w3css-display-border-color .form-type--radio:hover label::after,
.w3css-tab-display .field--name-w3css-display-hover-text .form-type--radio:hover label::after,
.w3css-tab-display .field--name-w3css-display-text-color .form-type--radio:hover label::after,
.w3css-tab-display .field--name-w3css-display-hover-bg .form-type--radio:hover label::after,
.w3css-tab-display .field--name-w3css-display-bg-color .form-type--radio:hover label::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.w3css-tab-display .field--name-w3css-display-active-item .form-type--radio:first-child label,
.w3css-tab-display .field--name-w3css-display-hover-border .form-type--radio:first-child label,
.w3css-tab-display .field--name-w3css-display-border-color .form-type--radio:first-child label,
.w3css-tab-display .field--name-w3css-display-hover-text .form-type--radio:first-child label,
.w3css-tab-display .field--name-w3css-display-text-color .form-type--radio:first-child label,
.w3css-tab-display .field--name-w3css-display-hover-bg .form-type--radio:first-child label,
.w3css-tab-display .field--name-w3css-display-bg-color .form-type--radio:first-child label {
  visibility: visible !important;
  position: relative;
  width: auto !important;
  margin-left: 0 !important;
  text-align: left !important;
  left: 5px;
  top: 0;
}

.w3css-tab-display .field--name-w3css-display-active-item .form-type--radio input,
.w3css-tab-display .field--name-w3css-display-hover-border .form-type--radio input,
.w3css-tab-display .field--name-w3css-display-border-color .form-type--radio input,
.w3css-tab-display .field--name-w3css-display-hover-text .form-type--radio input,
.w3css-tab-display .field--name-w3css-display-text-color .form-type--radio input,
.w3css-tab-display .field--name-w3css-display-hover-bg .form-type--radio input,
.w3css-tab-display .field--name-w3css-display-bg-color .form-type--radio input {
  margin: 5px;
  top: 10px;
}

.w3css-tab-display .form-type--radio label {
  padding-right: 0;
}

.layout-node-form .w3css-tab-display legend,
.layout-node-form .w3css-tab-display .element-container-wrapper > div > label {
  font-weight: bold;
}

.horizontal-tabs details.w3css-tab-content,
.horizontal-tabs details.w3css-tab-display {
  padding: 0;
}

.horizontal-tabs details.w3css-tab-content div.claro-details__wrapper,
.horizontal-tabs details.w3css-tab-display div.claro-details__wrapper {
  margin: 8px;
}
