/**
 * @file
 * W3CSS Paragraphs.
 *
 * Filename:     w3css-color-active-classes.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
.w3-is-active-amber .w3-is-active {
  color: #000;
  background-color: #ffc107;
}

.w3-is-active-aqua .w3-is-active {
  color: #000;
  background-color: #0ff;
}

.w3-is-active-blue .w3-is-active {
  color: #fff;
  background-color: #2196f3;
}

.w3-is-active-light-blue .w3-is-active {
  color: #000;
  background-color: #87ceeb;
}

.w3-is-active-brown .w3-is-active {
  color: #fff;
  background-color: #795548;
}

.w3-is-active-cyan .w3-is-active {
  color: #000;
  background-color: #00bcd4;
}

.w3-is-active-blue-gray .w3-is-active,
.w3-is-active-blue-grey .w3-is-active {
  color: #fff;
  background-color: #607d8b;
}

.w3-is-active-green .w3-is-active {
  color: #fff;
  background-color: #4caf50;
}

.w3-is-active-light-green .w3-is-active {
  color: #000;
  background-color: #8bc34a;
}

.w3-is-active-indigo .w3-is-active {
  color: #fff;
  background-color: #3f51b5;
}

.w3-is-active-khaki .w3-is-active {
  color: #000;
  background-color: #f0e68c;
}

.w3-is-active-lime .w3-is-active {
  color: #000;
  background-color: #cddc39;
}

.w3-is-active-orange .w3-is-active {
  color: #000;
  background-color: #ff9800;
}

.w3-is-active-deep-orange .w3-is-active {
  color: #fff;
  background-color: #ff5722;
}

.w3-is-active-pink .w3-is-active {
  color: #fff;
  background-color: #e91e63;
}

.w3-is-active-purple .w3-is-active {
  color: #fff;
  background-color: #9c27b0;
}

.w3-is-active-deep-purple .w3-is-active {
  color: #fff;
  background-color: #673ab7;
}

.w3-is-active-red .w3-is-active {
  color: #fff;
  background-color: #f44336;
}

.w3-is-active-sand .w3-is-active {
  color: #000;
  background-color: #fdf5e6;
}

.w3-is-active-teal .w3-is-active {
  color: #fff;
  background-color: #009688;
}

.w3-is-active-yellow .w3-is-active {
  color: #000;
  background-color: #ffeb3b;
}

.w3-is-active-white .w3-is-active {
  color: #000;
  background-color: #fff;
}

.w3-is-active-black .w3-is-active {
  color: #fff;
  background-color: #000;
}

.w3-is-active-gray .w3-is-active,
.w3-is-active-grey .w3-is-active {
  color: #000;
  background-color: #9e9e9e;
}

.w3-is-active-light-gray .w3-is-active,
.w3-is-active-light-grey .w3-is-active {
  color: #000;
  background-color: #f1f1f1;
}

.w3-is-active-dark-gray .w3-is-active,
.w3-is-active-dark-grey .w3-is-active {
  color: #fff;
  background-color: #616161;
}

.w3-is-active-pale-red .w3-is-active {
  color: #000;
  background-color: #fdd;
}

.w3-is-active-pale-green .w3-is-active {
  color: #000;
  background-color: #dfd;
}

.w3-is-active-pale-yellow .w3-is-active {
  color: #000;
  background-color: #ffc;
}

.w3-is-active-pale-blue .w3-is-active {
  color: #000;
  background-color: #dff;
}
