/**
 * @file
 * W3CSS Paragraph Modal.
 *
 * Filename:     w3css-paragraphs-modal.css
 * Website:      https://www.flashwebcenter.com
 * Description:  template.
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */

.w3-modal {
  z-index: 100!important;
}

.w3-modal-button button div {
  margin: 0 auto !important;
}

.w3-modal-header > span.w3-display-topright {
  cursor: pointer;
}

.paragraph--type--w3css-modal {
  overflow: hidden;
}

.w3-modal-header .w3-button.w3-display-topright {
  position: absolute;
}

.paragraph--type--w3css-modal.w3-card-2 {
  margin: 10px auto!important;
  width: auto;
  max-width: 900px;
}

.paragraph--type--w3css-modal.w3-card-4 {
  margin: 20px auto!important;
  width: auto;
  max-width: 900px;
}
